.bodyTxt, TD, input,select,textarea	{ font-family:verdana, arial, helvetica, sans-serif; color:black; 
			  font-size:11pt; line-height:11pt; }
.bodyTxt B, TD B	{ font-weight:bold; }
A			{ text-decoration:none; color:#0000ff; }
.hilite { color:#ff6666; }
